<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>找不到页面</title>
<!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Stamp error page Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<!-- Meta tag Keywords -->
<link rel="stylesheet" href="../static/css/style404.css" type="text/css" media="all" /> <!-- Style-CSS -->
<link href="//fonts.googleapis.com/css?family=Slabo+27px&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../static/img/favicon.ico">
</head>

<body>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
  <h1>404</h1>
  <br>
  <p>
仔细找过啦，没有发现你要找的页面<br/>点击返回继续浏览先前页面</p>
  <button type="button"><a href="/index">返回</a></button>
  <div class="copyright">
			<p>&nbsp;凌飞羽协将持续为你服务</p>
		</div>
  </div>
</body>

</html>
