<!DOCTYPE html>
<html lang="en">
<head>
    <title>关于凌飞羽协</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.css" rel="stylesheet"><!--font-awesome-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!--//css links-->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <style>
        .inner-banner-w3l {
            background: url(../../static/img/inner-bann.jpg) no-repeat 0px 0px;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            -moz-background-size: cover;
            min-height: 300px !important;
        }
    </style>
    <!--//fonts-->
</head>
<body>
<!-- Header -->
<div id="home" class="banner inner-banner-w3l">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="fa  fa-hand-o-right" aria-hidden="true"></i>凌飞羽协</a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-QQgroup" aria-hidden="true"><i>联系会长</i></i><i class="fa  fa-hand-o-right"
                                                                                          aria-hidden="true"></i><a
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=2263509062&amp;site=qq&amp;menu=yes"
                                target="_blank">2263509062</a></li>
                        <li><i class="fa fa-QQ" aria-hidden="true"><i>或者点击</i></i><i class="fa  fa-hand-o-right"
                                                                                     aria-hidden="true"></i><a
                                href=" http://qun.qq.com/#jointhegroup/gid/699394424		" target="_blank">加群699394424
                            <!--<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="" title="凌飞2019精英赛">--></a>
                        </li>
                        <!--<li><i class="fa fa-phone" aria-hidden="true"></i>群号390269361</li>	-->
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/index/about" class="active">关于我们</a></li>
                    <li><a href="/index/competition">羽协精英赛报名</a></li>


                </ul>

            </div>
            <div class="clearfix"></div>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Header -->
<!-- about inner -->
<div class="about-bottom inner-padding">
    <div class="container">
        <h3 class="heading-agileinfo">关于我们</h3>
        <div class="about-bott-right">
            <h5>羽协介绍</h5>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Team -->
<div class="team" id="team">
    <div class="container">
        <h3 class="heading-agileinfo">羽协目前会长级</h3>
        <div class="agile_team_grids">
            <div class="col-md-3 agile_team_grid">
                <div class="view view-sixth">
                    <img src="../../static/img/jie.gif" alt=" " class="img-responsive">
                    <div class="mask">
                        <h5>羽协会长</h5>
                        <p>自江西九江一位学长。我比较喜欢出去浪，宅是不存在的。如果想去旅游或者吃饭的话记得叫我哦，学习生活有问题可以找我的，学习只限于代码方面哦。</p>
                    </div>
                </div>
                <h4>熊义杰</h4>
                <!--<p>Director</p>-->
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view view-sixth">
                    <img src="../../static/img/130AE568B54F8DFA52BE52644DB4000D.jpg" alt=" " class="img-responsive">
                    <div class="mask">
                        <h5>副会长</h5>
                        <p>174班，现任羽协副会长，也是院预备队的一名队员。我性格温和，很好相处，平时喜欢读书画画，有时间也会去打羽毛球，所以大家都可以找我约球哦</p>
                    </div>
                </div>
                <h4>缪可心</h4>
                <!--<p>Pricipal</p>-->
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view view-sixth">
                    <img src="../../static/img/D3E366DF75D25A56988957B75A15D085.jpg" alt=" " class="img-responsive">
                    <div class="mask">
                        <h5>副会长</h5>
                        <p>性别什么的你们瞅瞅就知道了，信安171班，羽毛球技术不咋样，吃吃喝喝倒是很棒，属于那种自助餐能吃回本的（其实在减肥 如果不是特别好吃的就不要叫我了）</p>
                    </div>
                </div>
                <h4>严辅朝</h4>
                <!--<p>Teacher</p>-->
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="view view-sixth">
                    <img src="../../static/img/BED69C91B24BE961F21B991148723CD0.jpg" alt=" " class="img-responsive">
                    <div class="mask">
                        <h5>代表队队长</h5>
                        <p>来自江西抚州，目前是代表队的队长，如果学羽毛球有什么问题的话都可以问我，大家相互交流一下，球技会有很大的提高。</p>
                    </div>
                </div>
                <h4>黄俊卿</h4>
                <!--<p>Teacher</p>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Team -->
<!--Events -->
<div class="events-agileits-w3layouts">
    <h3 class="heading-agileinfo">羽协部门简介</h3>

    <div class="popular-grids">
        <div class="col-md-3 popular-grid">
            <img src="../../static/img/组织.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal2">组织部</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa  fa-angle-double-right" aria-hidden="true"></i>现任部长以及副部<i
                                class="fa  fa-hand-o-right" aria-hidden="true"></i></li>
                        <li></i>金子恒，陶梅</li>
                    </ul>
                    <p>负责组织各种活动，包括训练，比赛，聚餐等。同时也会负责管理财务。</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 popular-grid"><img src="../../static/img/宣传.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal3">宣传部</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa  fa-angle-double-right" aria-hidden="true"></i>现任部长以及副部<i
                                class="fa  fa-hand-o-right" aria-hidden="true"></i></li>
                        <li></i>李景涛，邱隆</li>
                    </ul>
                    <p>进行摄影，设计、文字编辑，负责活动拍照记录，海报制作，宣传与构思等。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 popular-grid">
            <img src="../../static/img/外联.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal3">外联部</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa  fa-angle-double-right" aria-hidden="true"></i>现任部长以及副部<i
                                class="fa  fa-hand-o-right" aria-hidden="true"></i></li>
                        <li></i>林育鸿，张左红</li>
                    </ul>
                    <p>负责对羽协承办的各项比赛以及荧光夜跑等活动进行经济支持。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 popular-grid">
            <img src="../../static/img/39E0F3CAE47384AB6A08E640C0CB8036.png" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal3">代表队</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa  fa-angle-double-right" aria-hidden="true"></i>现任队长以及副队长<i
                                class="fa  fa-hand-o-right" aria-hidden="true"></i></li>
                        <li></i>黄俊卿，高逸飞</li>
                    </ul>
                    <p>负责羽协人员的日常培训以及校运会和精英赛的选拔等。</p>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>

</div>
<div class="contact-w3ls ">
    <div class="contact-top-w3-agile"></div>
    <div class="container">


        <div class="clearfix"></div>
        <div class="copy">
            <ul class="banner-menu-w3layouts">
                <li><a href="/">主页</a></li>
                <li><a href="/index/about">关于我们</a></li>


                <li><a href="/index/competition">精英赛报名</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="../../static/js/move-top.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//Scrolling-top -->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>