<section data-role="outer" label="Powered by 135editor.com" style="font-size:35px;width:100%;">
    <p><img style="width:100%;" src="https://image.135editor.com/files/users/429/4294537/201909/WYLErqJF_cPJU.jpg" data-ratio="1"
            alt="QQ图片20190905185736.jpg"></p>
    <p style="text-align:center;font-size:35px">馋货很忙，是南昌首家以争低价争量贩模式零售的零食店，在保证产品货真价实的前提下进行超微利润量贩式销售，所有零售价格均低于任何零食店，不喊口号，真量贩。</p>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change" data-ratio="1"
                                width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg" alt="UB5s5p1bik.jpg"
                                data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问你们价格为什么这么便宜呀，好像比其它零食店都要便宜呢</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47"
            style="border: 0px none; background-color: rgba(0, 0, 0, 0); padding: 0px; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #ffff00; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">因为我们是以低价量贩模式来销售的呀，薄利多销的道理应该都懂吧</span></p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/rPjRkCsP_UyYb.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt="QQ图片20190905193539.png"></section><br
                        style="color: inherit;"><span style="font-size: 25px; letter-spacing: 1.5px;">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问你们的质量都是有保障的吗，会不会是劣质产品呢</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">我们产品绝对货真价实，所有零食都是从正规渠道引进，绝对保证消费者的食品质量安全。</span>
                    </p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/P32YMjCX_vvqV.png"
                            style="vertical-align:top; width:70px;margin-right:10px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt="QQ图片20190905193539.png"></section><br
                        style="color: inherit;"><span class="135brush" data-brushtype="text"
                        style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问你们店里环境怎么样呀</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">我们店以黄色作为主色调，象征着青春与活力，店内环境非常干净。</span></p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/RHft2e94_OFtg.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt="QQ图片20190905193539.png"></section><br
                        style="color: inherit;"><span class="135brush" data-brushtype="text"
                        style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <p><br></p>
    <p>我们先来欣赏一下本店的风格吧。</p>
    <p><br></p>
    <p><img style="width:100%" src="https://image.135editor.com/files/users/429/4294537/201909/WZTt5ZvT_vn7b.jpg" data-ratio="1"
            alt="QQ图片20190905192947.jpg"></p>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问店内服务员的态度怎么样</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">本店秉持着客户至上的原则，致力于为顾客提供最好的服务，让顾客买的开心，吃的开心。</span>
                    </p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/8TkAUdSN_HO56.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt="QQ图片20190905193539.png"></section><br
                        style="color: inherit;"><span class="135brush" data-brushtype="text"
                        style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问你们店的零食种类多吗，会不会很单一呢</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">我们店内的零食种类丰富，超市能买的在我们这都能买，超市没有的我们也有提供呢。</span>
                    </p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/8TkAUdSN_HO56.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt=""></section><br
                        style="color: inherit;">
                    <p><span class="135brush" data-brushtype="text"
                            style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                    </p>
                    <p><br></p>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="46"></section>
    <p><br></p>
    <p><img src="https://image.135editor.com/files/users/429/4294537/201909/v9n9fN4z_8Gk3.jpg" data-ratio="0.75"
            alt="QQ图片20190905192954.jpg" data-op="change"
            style="max-inline-size: 100%; margin: 0px; padding: 0px; width: 100%; z-index: -1; cursor: pointer; color: rgb(0, 0, 0); font-size: 16px; caret-color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); box-sizing: border-box !important; outline: none 0px !important; height: auto !important; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;">
    </p>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        你们最近有什么活动嘛?</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style=""><span style="letter-spacing: 1.5px;">当然有啦！在本店凡购满50元就可以赠送高档小糕点一份哦。</span></p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/8TkAUdSN_HO56.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt=""></section><br
                        style="color: inherit;"><span class="135brush" data-brushtype="text"
                        style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="46">
        <section class="_135editor" data-tools="135编辑器" data-id="46" style="border: 0px none; box-sizing: border-box;">
            <section style="box-sizing: border-box; padding: 0px; margin: 0px;display:flex;">
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit; box-sizing: border-box; padding: 0px;">
                    <section style="display:inline-block;width:40px;"><span data-role="width"
                            style="display:inline-block;width:100%" data-width="100%"><img
                                src="https://image.135editor.com/files/users/429/4294537/201909/uE8CFcY2_pQI2.jpg"
                                style="vertical-align: top; margin: 0px; width: 100%;" data-op="change"
                                data-ratio="1.325" width="100%" height="" border="0" mapurl="" title="UB5s5p1bik.jpg"
                                alt="" data-width="100%"></span></section>
                    <section class="135brush" data-brushtype="text"
                        style="box-sizing:border-box; color:#3f3f3f; font-size:25px; line-height:30px; margin:0px; padding:0px;letter-spacing: 2px;">
                        小馋</section>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px; padding-top: 10px; padding-bottom: 10px; color: inherit; box-sizing: border-box;">
                    <section
                        style="height: 0px; width: 0px; border-top: 10px solid transparent; border-right: 15px solid rgb(240, 168, 168); border-bottom: 10px solid transparent; z-index: 999; box-sizing: border-box;">
                    </section>
                </section>
                <section class="135brush layout"
                    style="color: #fff; display: inline-block; flex:0 0 65%; margin-top: 0.7em; margin-left: -0.4em; padding: 1em; border-radius:0.5em;font-size: 1em; /* color: #c26903; */ background-color:#f0a8a8; border-color: #d5480b; box-sizing: border-box;">
                    <section
                        style="color: inherit; border-color: #fee4c6; box-sizing: border-box; padding: 0px; margin: 0px;">
                        请问你们店离我这远不远</section>
                </section>
            </section>
        </section>
    </section>
    <section class="_135editor" data-tools="135编辑器" data-id="47">
        <section class="_135editor" data-tools="135编辑器" data-id="47" style="border: 0px none; box-sizing: border-box;"
            data-color="#e5f3d0" data-custom="#e5f3d0">
            <section style="text-align: right;display:flex;justify-content: flex-end;">
                <section class="135brush layout"
                    style="display: inline-block; flex: 0 0 65%; margin-top: 0.7em; box-sizing: border-box; padding: 1em; border-radius: 1em; text-align: left; font-size: 1em; color: #6e9c28; margin-right: -0.4em; border-color: #fefefe; background-color: #fdd633;">
                    <p style="color: inherit;"><span
                            style="color:#000000;letter-spacing: 1.5px;">当然不远啦。离小可爱只有500米左右的距离哦，就在外滩一号购物广场附近呢。离爱购广场也只有一条马路的相隔哦。</span>
                    </p>
                </section>
                <section
                    style="display: inline-block; margin-top: 1.2em; vertical-align: top; width: 20px;box-sizing:border-box; padding-top: 10px; padding-bottom: 10px; color: inherit;">
                    <section
                        style="box-sizing: border-box; border-left: 20px solid #ffebf0; border-right-width: 0px; border-right-color: #ffebf0; display: inline-block; height: 15px; width: 15px; vertical-align: top; float: left; color: inherit; border-bottom: 12px solid transparent !important; border-top-style: solid !important; border-top-color: transparent !important;">
                    </section>
                </section>
                <section
                    style="display: inline-block; line-height: 20px; vertical-align: top; margin-top: 0.5em; text-align: center; color: inherit;">
                    <section style="display:inline-block;width:40px;"><img
                            src="https://image.135editor.com/files/users/429/4294537/201909/8TkAUdSN_HO56.png"
                            style="vertical-align:top; width:70px;height: auto !important;" data-ratio="1.325"
                            data-op="change" title="QQ图片20190905193539.png" alt=""></section><br
                        style="color: inherit;"><span class="135brush" data-brushtype="text"
                        style="color:inherit; font-size:25px;letter-spacing: 1.5px; line-height:30px">馋货很忙</span>
                </section>
            </section>
        </section>
    </section>
    <p><br></p>
    <section class="_135editor" data-tools="135编辑器" data-id="89537">
        <section
            style="border: 0px; padding: 0px; margin: 0px auto; text-align: left; white-space: normal; display: inline-block; box-sizing: border-box;">
            <section style="display:inline-block;float:left;vertical-align:top">
                <section
                    style="width: 60px; text-align: center; border-radius: 100%; display: inline-block; color: rgb(255, 255, 255); vertical-align: top; box-sizing: border-box;">
                    <img src="https://image.135editor.com/files/users/429/4294537/201909/u5tqKvwp_FJhX.jpg"
                        style="width:100%;border:1px solid #345;margin:0;padding:0;border-radius:100%"
                        title="16pic_8761450_b.jpg" data-width="100%" data-ratio="1" data-op="change" alt=""></section>
            </section>
            <section
                style="padding: 0px; margin-left: 70px; text-align: left; font-size: 38px; line-height: 55px; box-sizing: border-box;">
                <span style="color:#51b8d2">小馋</span><br>
                <section class="135brush" data-style="clear:none;"
                    style="padding: 0px; margin: 0px 0px 0px 10px; box-sizing: border-box;">
                    <font color="#787878">曾经的我，被良品铺子之类的零食店的价格虐的不敢去逛零食店了，然而，当我发现了</font><span
                        style="color: #00b0f0;">馋货很忙</span>
                    <font color="#787878">后，我这个穷屌丝又来频繁光顾零食店了。</font><span style="color: #00b0f0;">馋货很忙</span>
                    <font color="#787878">零食种类繁多，价格便宜实惠，吃的很开心啦。</font></span>
                    </font>
                </section>
            </section>
            <section style="clear:both;"></section>
        </section>
    </section>
    <p><br></p>
    <p style="text-align:center">馋货很忙，欢迎各位小可爱的光顾哦。</p>
    <p><br></p>
</section>