<!DOCTYPE html>
<html lang="en">
<head>
    <title>精英赛报名</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.css" rel="stylesheet"><!--font-awesome-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!--//css links-->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <style>
        .img-size{
            width: 28rem;
        }
        .title-w3{
            margin-top: 50px;
            margin-bottom: 50px;
            color: #0accff;
            font-size: 40px;
        }
        .input-pos{
            margin-left: 60px;
            margin-bottom: 50px;
            width: 350px;
        }
        .btn-pos{
            width: 80px;
            margin-left: 100px;
            margin-bottom: 30px;
        }
    </style>
    <!--//fonts-->
</head>
<body>
<!-- Header -->
<div id="home" class="banner inner-banner-w3l">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="fa  fa-hand-o-right" aria-hidden="true"></i>凌飞羽协</a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-QQgroup" aria-hidden="true"><i>联系会长</i></i><i class="fa  fa-hand-o-right"
                                                                                          aria-hidden="true"></i><a
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=2263509062&amp;site=qq&amp;menu=yes"
                                target="_blank">2263509062</a></li>
                        <li><i class="fa fa-QQ" aria-hidden="true"><i>或者点击</i></i><i class="fa  fa-hand-o-right"
                                                                                     aria-hidden="true"></i><a
                                href=" http://qun.qq.com/#jointhegroup/gid/699394424		" target="_blank">加群699394424
                            <!--<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="" title="凌飞2019精英赛">--></a>
                        </li>
                        <!--<li><i class="fa fa-phone" aria-hidden="true"></i>群号390269361</li>	-->
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/index/about">关于我们</a></li>
                    <li><a href="/index/competition" class="active">比赛报名</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title-w3">凌飞羽协第四届羽毛球精英赛欢迎你的加入!</h5>
                        <form action="/competition/add" method="post">
                            <div class="form-group input-pos">
                                <label for="name" class="label-material">姓名</label>
                                <input id="name" type="text" name="name" required
                                       data-msg="请输入姓名" class="input-material">
                            </div>
                            <div class="form-group input-pos">
                                <label for="stuClass" class="label-material">班级</label>
                                <input id="stuClass" type="text" name="stuClass" required
                                       data-msg="请输入班级" class="input-material">
                            </div>
                            <div class="form-group input-pos">
                                <label for="QQ" class="label-material">QQ&nbsp;&nbsp;&nbsp;</label>
                                <input id="QQ" type="number" name="qq" required
                                       data-msg="请输入QQ" class="input-material">
                            </div>
                            <div class="form-group input-pos">
                                <label for="phone" class="label-material">电话</label>
                                <input id="phone" type="number" name="phone" required
                                       data-msg="请输入电话" class="input-material">
                            </div>
                            <div class="form-group input-pos">
                                <input type="radio" name="item" value="男单">男单
                                <input type="radio" name="item" value="女单">女单
                            </div>
                            <input type="submit" class="btn btn-primary btn-pos" value="提交">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <img class="img-size" src="../../static/img/psb.jpg">
                    </div>
                </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="../../static/js/move-top.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>