<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>主页面</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.css" rel="stylesheet"><!--font-awesome-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!--//css links-->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <!--//fonts-->
    <style>
        .banner {
            background: url(http://cdn.jie12366.xyz/together.jpg) no-repeat 0px 0px;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            -moz-background-size: cover;
            min-height: 790px;
        }

        .stats-agileits {
            background: url(http://cdn.jie12366.xyz/qiu.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<!-- Header -->
<div id="home" class="banner w3l">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="fa  fa-hand-o-right" aria-hidden="true"></i>凌飞羽协</a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-QQgroup" aria-hidden="true"><i>联系会长</i></i><i class="fa  fa-hand-o-right"
                                                                                          aria-hidden="true"></i><a
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=2263509062&amp;site=qq&amp;menu=yes"
                                target="_blank">2263509062</a></li>
                        <li><i class="fa fa-QQ" aria-hidden="true"><i>或者点击</i></i><i class="fa  fa-hand-o-right"
                                                                                     aria-hidden="true"></i><a
                                href=" http://qun.qq.com/#jointhegroup/gid/699394424		" target="_blank">加群699394424
                            <!--<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="" title="凌飞2019精英赛">--></a>
                        </li>
                        <!--<li><i class="fa fa-phone" aria-hidden="true"></i>群号390269361</li>	-->
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" class="active">主页面</a></li>
                    <li><a href="/index/about">关于我们</a></li>
                    <li><a href="/index/competition">比赛报名</a></li>
                    <li><a href="/index/announce">公告</a></li>
                    <li><a href="/index/message">个人信息</a></li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Header -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="images/bann.jpg" alt=" " class="img-responsive">
                <h5>Better education for a Better world</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Events-Modal-Popup-->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="images/a1.jpg" alt=" " class="img-responsive">
                <h5>Emphasize Summer 2017</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut
                        labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="images/a2.jpg" alt=" " class="img-responsive">
                <h5>Summer online courses</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut
                        labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="images/a3.jpg" alt=" " class="img-responsive">
                <h5>Education tour 2017</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut
                        labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal4 -->
<!-- Modal5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Emphasize</h4>
                <img src="images/a4.jpg" alt=" " class="img-responsive">
                <h5>Good Results</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut
                        labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal5 -->
<!-- //Events-Modal-Popup-->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
<!-- about-agileits -->
<div class="about-agileits">
    <div class="container">
        <h3 class="heading-agileinfo">羽协荣耀</h3>
        <div class="agileits_banner_bottom">
            <p>2016年3月，凌飞羽毛球协会正式成立，协会下设宣传部、组织部、外联部三个部门，创始人曾参与第二十二届、二十三届校运会，并分别获得团体第六名、第四名的佳绩。</br>
                2016年5月，南昌大学软件学院首届羽毛球精英赛在凌飞羽协的举办下顺利进行。
                </br>2016年11月，凌飞羽协带队参加南昌大学第二十四届运动会，并派出协会内精英参赛，取得了团体第六名的佳绩。
                </br>2017年4月，凌飞羽协举办第二届羽毛球精英赛.</br>2018年4月，举办了凌飞羽协第三届精英赛
                </br>2019年4月15日，我们将迎来第四届羽毛球精英赛~ </p>
        </div>
    </div>
    <!--<span class="numscroller agileits-w3layouts">2500</span>--></div>
<!-- about-agileits -->
<!-- Stats -->
<div class="stats-agileits" id="stats">
    <div class="container">
        <div class="col-md-3 agileits w3layouts col-sm-6 stats-grid stats-grid-1">
            <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='3' data-delay='2'
                 data-increment="1"></div>
            <div class="stat-info-w3ls">
                <h4 class="agileits w3layouts">羽协成立年数</h4>
            </div>
        </div>
    </div>
    <div class="stats-info agileits w3layouts">
        <div class="container">
            <div class="col-md-3 col-sm-3 agileits w3layouts stats-grid stats-grid-2">
                <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='161' data-delay='5'
                     data-increment="1">150
                </div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">羽毛球爱好者QQ群目前人数</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid agileits w3layouts stats-grid-3">
                <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='8' data-delay='3'
                     data-increment="1">8
                </div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">截至目前羽协已承办活动数</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid stats-grid-4 agileits w3layouts">
                <div class="numscroller agileits-w3layouts" data-slno='1' data-min='0' data-max='91' data-delay='5'
                     data-increment="1">210
                </div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">目前协会内成员数</h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="contact-w3ls ">
    <div class="contact-top-w3-agile"></div>
    <div class="container">
        <div class="clearfix"></div>
        <div class="copy">
            <ul class="banner-menu-w3layouts">
                <li><a href="">主页</a></li>
                <li><a href="/index/about">关于我们</a></li>
                <li><a href="/index/competition">精英赛报名</a></li>
            </ul>
        </div>
    </div>
</div>

<!--//footer -->
<!-- js -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<!-- responsiveslides -->
<script src="https://cdn.bootcss.com/ResponsiveSlides.js/1.55/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    });
</script>
<!-- //responsiveslides -->
<!-- OnScroll-Number-Increase-JavaScript -->
<script type="text/javascript" src="../../static/js/numscroller-1.0.js"></script>
<!-- //OnScroll-Number-Increase-JavaScript -->
<!--Scrolling-top -->
<script type="text/javascript" src="../../static/js/move-top.js"></script>
<!--<script type="text/javascript" src="js/easing.js"></script>-->
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!--//Scrolling-top -->
<!--flexiselDemo1 -->
<script type="text/javascript">
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 2,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 1
                },
                tablet: {
                    changePoint: 991,
                    visibleItems: 1
                }
            }
        });

    });
</script>
<!--<script type="text/javascript" src="js/jquery.flexisel.js"></script>-->
<script src="https://cdn.bootcss.com/flexisel/2.2.2/js/jquery.flexisel.js"></script>
<!--//flexiselDemo1 -->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script> -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>