<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>凌飞羽毛球协会</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Baking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<!-- Bootstrap-CSS -->
	<link rel="stylesheet" href="../../static/css/style1.css" type="text/css" media="all" />
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/css/bootstrap.min.css">
	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css">
	<!-- Fontastic Custom icon font-->
	<link rel="stylesheet" href="../../static/css/fontastic.css">
	<!-- Style-CSS -->
	<link href="https://cdn.bootcss.com/font-awesome/5.10.0-11/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="../../static/img/favicon.ico">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- navigation -->
	
	<!-- //navigation -->
	<!-- //header 2 -->

	<!-- banner slider -->
	<div id="homepage-slider" class="st-slider">
		<input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
		<input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
		<input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
		<input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
		<div class="images">
			<div class="images-inner">
				<div class="image-slide">
					<div>
						<img style="width: 100%" src="http://cdn.jie12366.xyz/1.jpg">
					</div>
				</div>
				<div class="image-slide">
					<div>
						<img style="width: 100%" class="banner-w3ls-2" src="http://cdn.jie12366.xyz/2.jpg">
					</div>
				</div>
				<div class="image-slide">
					<div>
						<img style="width: 100%" class="banner-w3ls-3" src="http://cdn.jie12366.xyz/3.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="labels">
			<div class="fake-radio">
				<label for="slide1" class="radio-btn"></label>
				<label for="slide2" class="radio-btn"></label>
				<label for="slide3" class="radio-btn"></label>
			</div>
		</div>
	</div>
	<!-- //banner slider -->

	<!-- banner bottom grids -->
	<section class="banner-bottom-w3layouts pb-5" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 about-in text-center">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-users"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">人员数</h5>
						<p class="card-text">目前协会历届总人数为170人（以2019/7/26号为止羽毛球爱好者群聊人数为基准）</p>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center my-lg-0 my-4">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-battery-full"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">协会成立时间</h5>
						<p class="card-text">目前协会正在经历第三个年头，是一个新兴的充满活力的社团</p>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-trophy"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">协会荣耀</h5>
						<p class="card-text">协会自成立便代表软件学院参加各项羽毛球校级活动，团体最高</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom grids -->

	<!-- about -->
	<section class="w3ls-bnrbtm py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row pb-5">
				<div class="col-lg-6">
					<img class="img-fluid" src="http://cdn.jie12366.xyz/ab.jpg" alt="">
				</div>
				<div class="col-lg-6 pl-lg-5 abou-right-w3layuts mt-lg-0 mt-5">
					<h3 class="mb-4">欢迎来到<br>凌飞羽毛球协会</h3>
					<p>羽协作为一个成立不足四年的社团，已经承办了近十起院级活动，持续代表学院派出选手参加校运会羽毛球比赛，并取得了一定的成绩，羽协正稳步向着一个中大级社团发展
                    .</p>
				</div>
			</div>
			<div class="row flex-row-reverse border-top pt-lg-5 pt-sm-4 pt-2 mt-lg-5 mt-sm-4 mt-2">
				<div class="col-lg-6">
					<img class="img-fluid mt-5" src="http://cdn.jie12366.xyz/ab2.jpg" alt="">
				</div>
				<div class="col-lg-6 abou-right-w3layuts mt-5">
					<h3 class="mb-4">凌飞羽毛球协会第一届荧光夜跑活动 </h3>
					<p>此次活动同学们积极性极强，提前一天半便以达到了80人的人数限制，是羽协第一次举办非常规赛事活动
 </p>
					<p>此次活动共持续三小时，绝大部分同学完成了最后的绕青山湖校区夜跑，对提升软院活力，调动同学们活动积极性起到了很好的作
用.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- team -->
	<section class="teams py-5" id="chefs">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-wh mb-5">我们的现任会长大大们</h3>
			<div class="row text-center">
				<div class="col-lg-3">
					<div class="team-gd">
						<img src="http://cdn.jie12366.xyz/xiongy.png" class="img-fluid" alt="user-image">
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">会长</span> 熊义杰</h3>
							<p>（是个大佬 全栈工程师了解下）</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-3 mt-lg-0 mt-5">
					<div class="team-gd">
						<img src="http://cdn.jie12366.xyz/miaok.jpg" class="img-fluid" alt="user-image">
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">副会长</span> 缪可心</h3>
							<p>（啥都不说 颜值担当）</p>
							
						</div>
					</div>
				</div>
                <div class="col-lg-3 mt-lg-0 mt-5">
					<div class="team-gd">
						<img src="http://cdn.jie12366.xyz/yanf.jpg" class="img-fluid" alt="user-image">
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">副会长</span>严辅朝</h3>
							<p>（皮的要死）</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-3 mt-lg-0 mt-5">
					<div class="team-gd">
						<img src="http://cdn.jie12366.xyz/t4.jpg" class="img-fluid" alt="user-image">
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">代表队队长</span> 黄俊卿</h3>
							<p>（技术担当，一己之力打到前湖和科院）</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team -->

	<!-- blog -->
	<section class="blog py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">我们的现任部长大大们</h3>
			<div class="row">
				<!-- blog grid -->
				<div class="col-lg-3 col-md-6 px-md-2">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a>
								<img class="card-img-bottom" src="http://cdn.jie12366.xyz/zuzhi.png" alt="Card image cap">
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">组织部</h6>
							<h5 class="blog-title card-title">
								<a>负责社团的各项活动的组织以及策划的给出
							  </a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/jinz.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">金子恒</h5>
									<p>组织部现任部长</p>
								</div>
							</div>
                            <div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/taom.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">陶梅</h5>
									<p>组织部现任副部</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="col-lg-3 col-md-6 px-md-2">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a>
								<img class="card-img-bottom" src="http://cdn.jie12366.xyz/xuanchuan.png" alt="Card image cap">
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">宣传部</h6>
							<h5 class="blog-title card-title">
								<a>负责公众号的运营和各项活动的海报的制作</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/lij.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">李景涛</h5>
									<p>组织部现任部长</p>
								</div>
							</div>
                            <div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/qiul.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">邱隆</h5>
									<p>宣传现任副部</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-3 col-md-6 px-md-2 mt-md-0 mt-5">
					<div class="card">
						<span class="card-header p-0 position-relative"><a><img class="card-img-bottom" src="http://cdn.jie12366.xyz/blog2.jpg" alt="Card image cap"></a></span>
						<div class="card-header p-0 position-relative">
							<a><span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">外联部</h6>
							<h5 class="blog-title card-title">
								<a>负责各项活动的经费支持和协助其他部门进行活动</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/liny.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">林育鸿</h5>
									<p>外联部现任部长</p>
								</div>
							</div>
                            <div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/zhangzuo.jpg" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">张左红</h5>
									<p>外联部现任副部</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-3 col-md-6 px-md-2 mt-lg-0 mt-5">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a>
								<img class="card-img-bottom" src="http://cdn.jie12366.xyz/blog3.jpg" alt="Card image cap">
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">代表队</h6>
							<h5 class="blog-title card-title">
								<a>负责协会的运动会选拔等各项大型赛事的人员出征</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<img src="http://cdn.jie12366.xyz/gaoy.png" alt=" " class="img-fluid rounded-circle" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">高逸飞</h5>
									<p>代表队副队长</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
			</div>
		</div>
	</section>
	<!-- //blog -->

	<!-- who we are -->
	<section class="w3ls-bnrbtm py-5" id="what">
		<div class="row no-gutters">
			<div class="col-xl-6 text-center">
				<img class="img-fluid" src="http://cdn.jie12366.xyz/who.jpg" alt="">
			</div>
			<div class="col-xl-6 who-left-w3pvt d-flex">
				<div class="w3layouts-bgs align-self-center mt-xl-5">
					<h6 class="text-colors let-spa">我们的成就</h6>
					<h3 class="title-w3ls-2 mt-1 mb-xl-5 mb-4 pb-xl-2">（这里单指校级比赛，院赛各大奖项自协会创建以来便全部包揽）</h3>
					<div class="d-flex services-box mt-5">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="service-content">
							<h4>南昌大学第二十二届校运会</h4>
							<p class="serp">
								团体第六名
							</p>
						</div>
					</div>
                    <div class="d-flex services-box mt-5">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="service-content">
							<h4>南昌大学第二十三届校运会</h4>
							<p class="serp">
								团体第四名
							</p>
						</div>
					</div>
					<div class="d-flex services-box mt-5">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="service-content">
							<h4>南昌大学第二十四届校运会</h4>
							<p class="serp">
								团体第六名
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters" id="testi">
			<div class="col-xl-6 who-left-w3pvt-2 d-flex">
				<div class="w3layouts-bgs-2 align-self-center mb-xl-5 pb-xl-5">
					<h6 class="text-colors let-spa">其实羽协是个美食社</h6>
					<h3 class="title-w3ls-2 mt-1 mb-xl-5 mb-4">此话怎讲呢</h3>
					<p class="mb-4 sub-para-wthree"></p>
					<p>协会自2018年12月份换届以来，便已去了下面的四家，并且还在朝着更多的店进发，待到开学招新之后还会去轰趴
               ~，羽协成员可是一群会玩也会吃的孩子呢.</p>
					<ul class="list-unstyled who-lists mt-5 ml-5">
						<li><span class="fa fa-caret-right"></span>东北人家</li>
						<li><span class="fa fa-caret-right"></span>老四川川菜馆</li>
						<li><span class="fa fa-caret-right"></span>烧烤自助</li>
						<li><span class="fa fa-caret-right"></span>九尺坎里火锅</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-6 text-xl-right text-center">
				<img class="img-fluid rounded" src="http://cdn.jie12366.xyz/who2.jpg" alt="">
			</div>
		</div>
	</section>
	<!-- //who we are -->

	<!-- gallery -->
	<div class="gallery py-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">我们的日常活动</h3>
			<div class="row no-gutters">
				<div class="col-md-4 gallery-grid1">
					<a href="#gal1">
						<img src="http://cdn.jie12366.xyz/g1.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal2">
						<img src="http://cdn.jie12366.xyz/g2.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal3">
						<img src="http://cdn.jie12366.xyz/g3.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-4 gallery-grid1">
					<a href="#gal4">
						<img src="http://cdn.jie12366.xyz/g4.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal5">
						<img src="http://cdn.jie12366.xyz/g5.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
				<div class="col-md-4 gallery-grid1">
					<a href="#gal6">
						<img src="http://cdn.jie12366.xyz/g6.jpg" alt=" " class="img-fluid" />
					</a>
				</div>
			</div>
		</div>
		<!-- gallery popups -->
		<!-- popup-->
		<div id="gal1" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g1.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">左边是我们第四届精英赛的男单冠军，右边就是我们亲爱的代表队队长
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal2" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g2.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">这是晚上去八一广场看喷泉.
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal3" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g3.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">去环球公园自助烧烤.
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup3 -->
		<!-- popup-->
		<div id="gal4" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g4.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">在梦时代九尺坎里聚餐.
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal5" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g5.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">第一届荧光夜跑活动现场.
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal6" class="pop-overlay animate">
			<div class="popup">
				<img src="http://cdn.jie12366.xyz/g6.jpg" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">第四届羽毛球精英赛报名现场.
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- //gallery popups -->
	</div>
	<!-- //gallery -->
	<!-- copyright -->
	<div class="copy_right position-relative">
		<p class="text-center text-wh py-sm-3 py-3">© 2019 lingfei. All rights reserved | Design by
			lingfeiyumaoqiuxiehui
		</p>
		<!-- move top icon -->
		<a href="#home" class="move-top text-center">
			<span class="fa fa-level-up" aria-hidden="true"></span>
		</a>
		<!-- //move top icon -->
	</div>
	<!-- //copyright -->


</body>

</html>