<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公告</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <style>
        .hide{
            display: none;
        }
        .contains{
            margin-left: 430px;
            margin-right: 300px;
            margin-top: 30px;
        }
        .btn-class{
            margin-left: 1100px;
            margin-top: 30px;
        }
        @media only screen and (min-width: 930px) and (max-width: 1200px){
            .contains{
                margin-left: 150px;
                margin-right: 150px;
                margin-top: 30px;
            }
        }
        @media only screen and (min-width: 768px) and (max-width: 930px){
            .contains{
                margin-left: 150px;
                margin-right: 150px;
                margin-top: 30px;
            }
            .btn-class{
                margin-left: 700px;
                margin-top: 30px;
            }
        }
        @media only screen and (max-width: 768px){
            .contains{
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 20px;
            }
            .btn-class{
                margin-left: 300px;
                margin-top: 30px;
            }
        }
    </style>
    <!--//fonts-->
</head>
<body>
<!-- Header -->
<div id="home" class="banner inner-banner-w3l">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="fa  fa-hand-o-right" aria-hidden="true"></i>凌飞羽协</a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-QQgroup" aria-hidden="true"><i>联系会长</i></i><i class="fa  fa-hand-o-right"
                                                                                          aria-hidden="true"></i><a
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=2263509062&amp;site=qq&amp;menu=yes"
                                target="_blank">2263509062</a></li>
                        <li><i class="fa fa-QQ" aria-hidden="true"><i>或者点击</i></i><i class="fa  fa-hand-o-right"
                                                                                     aria-hidden="true"></i><a
                                href=" http://qun.qq.com/#jointhegroup/gid/699394424		" target="_blank">加群699394424
                            <!--<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="" title="凌飞2019精英赛">--></a>
                        </li>
                        <!--<li><i class="fa fa-phone" aria-hidden="true"></i>群号390269361</li>	-->
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/index/about">关于我们</a></li>
                    <li><a href="/index/competition">比赛报名</a></li>
                    <li><a href="/order-ball">约球</a></li>
                    <li><a href="/index/message" class="active">个人信息</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="form-size">
    <button onclick="toEdit()" class="btn btn-info btn-class">编辑</button>
    <form method="post" class="form-validate" action="/front/user/edit">
        <div class="row contains">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="name" class="label-material">姓名</label>
                    <input id="name" type="text" name="name" readonly th:value="${user.name}" required
                           data-msg="请输入姓名" class="input-material">
                </div>
                <div class="form-group">
                    <label for="number" class="label-material">学号</label>
                    <input id="number" type="text" name="number" readonly th:value="${user.number}" required
                           data-msg="请输入学号" class="input-material">
                </div>
                <div class="form-group">
                    <label for="stuClass" class="label-material">班级</label>
                    <input id="stuClass" type="text" name="stuClass" readonly th:value="${user.stuClass}" required
                           data-msg="请输入班级" class="input-material">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="qq" class="label-material">QQ</label>
                    <input id="qq" type="text" name="qq" readonly th:value="${user.qq}" required data-msg="请输入QQ"
                           class="input-material">
                </div>
                <div class="form-group">
                    <label for="email" class="label-material">邮箱</label>
                    <input id="email" type="text" name="email" readonly th:value="${user.email}" required
                           data-msg="请输入邮箱" class="input-material">
                </div>
                <div class="form-group">
                    <label for="depart" class="label-material">部门</label>
                    <input id="depart" type="text" name="depart" readonly th:value="${user.depart}" required data-msg="请输入部门"
                           class="input-material">
                </div>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="submit" class="btn btn-primary btn-class hide" value="提交">
    </form>
</div>
<script>
    function toEdit() {
        $('#name').attr("readOnly",false)
        $('#number').attr("readOnly",false)
        $('#stuClass').attr("readOnly",false)
        $('#qq').attr("readOnly",false)
        $('#email').attr("readOnly",false)
        $('#depart').attr("readOnly",false)
        $('.btn-class').removeClass('hide')
    }
</script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="../../static/js/move-top.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<!-- //smooth scrolling -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>