<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>约球</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.css" rel="stylesheet"><!--font-awesome-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <style>
        .top{
            width: 100%;
            text-align: center;
            margin-top: -100px;
            margin-bottom: 50px;
        }
        @media screen  and (max-width: 600px){
            .top{
                margin-top: 10px;
            }
        }
        @media screen  and (min-width: 1300px){
            .top{
                margin-top: 50px;
            }
        }
    </style>
</head>
<body>
<!-- Header -->
<div id="home" class="banner inner-banner-w3l">
    <div class="header-nav">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="fa  fa-hand-o-right" aria-hidden="true"></i>凌飞羽协</a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="contact-bnr-w3-agile">
                    <ul>
                        <li><i class="fa fa-QQgroup" aria-hidden="true"><i>联系会长</i></i><i class="fa  fa-hand-o-right"
                                                                                          aria-hidden="true"></i><a
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=2263509062&amp;site=qq&amp;menu=yes"
                                target="_blank">2263509062</a></li>
                        <li><i class="fa fa-QQ" aria-hidden="true"><i>或者点击</i></i><i class="fa  fa-hand-o-right"
                                                                                     aria-hidden="true"></i><a
                                href=" http://qun.qq.com/#jointhegroup/gid/699394424		" target="_blank">加群699394424
                            <!--<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="" title="凌飞2019精英赛">--></a>
                        </li>
                        <!--<li><i class="fa fa-phone" aria-hidden="true"></i>群号390269361</li>	-->
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/index/about">关于我们</a></li>
                    <li><a href="/index/competition">比赛报名</a></li>
                    <li><a href="/order-ball" class="active">约球</a></li>
                    <li><a href="/index/message">个人信息</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="main">
    <div class="top">
        <button type="button" class="btn btn-info" onclick="order()" style="margin-right: 20px;">约球</button>
        <button type="button" class="btn btn-primary" onclick="cancelOrder()" style="margin-left: 20px;">取消约球</button>
    </div>
    <div>
        <table style="width: 90%;margin: auto" class="table table-hover table-bordered table-striped" id="orderList">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<script>
    window.onload = function () {
        getList()
    }

    function getList() {
        $.ajax({
            url: '/order/list',
            type: 'get',
            dataType: 'json',
            async: true,
            success:function(res){
                if (res.status == 200){
                    console.log(res.data)
                    var table = "";
                    table += "<tr>" + "<td colspan='4' style='text-align: center'>" + "当前约球会员表" + "</td>" +"</tr>"
                    for (var i = 0;i< res.data.length;i++){
                        table += "<tr>" + "<td>" + Number(i + 1) + "</td>"
                            + "<td>" + res.data[i].name + "</td>"
                            + "<td>" + res.data[i].account + "</td>"
                            + "<td>" + res.data[i].stuClass + "</td>"
                            + "</tr>"
                    }
                    document.getElementById("orderList").innerHTML = table
                }
            },
            error:function(){
                status = false;
                // return false;
            }
        });
    }

    function order() {
        var uid = window.localStorage.getItem("uid");
        console.log(uid);
        $.ajax({
            url: '/order/ball',
            type: 'post',
            dataType: 'json',
            async: true,
            data: {uid:uid},
            success:function(data){
                if (data.status == 200){
                    if(data.data == 1){
                        alert("预约成功")
                    } else if(data.data == 2){
                        alert("你已经预约了")
                    } else if(data.data == 3){
                        alert("约球还未开始")
                    } else if(data.data == 0){
                        alert("预约失败")
                    }
                    getList()
                }
            },
            error:function(){
                status = false;
                // return false;
            }
        });
    }

    function cancelOrder() {
        var uid = window.localStorage.getItem("uid");
        console.log(uid);
        $.ajax({
            url: '/cancel/ball',
            type: 'post',
            dataType: 'json',
            async: true,
            data: {uid:uid},
            success:function(data){
                if (data.status == 200){
                    if (data.status == 200){
                        if(data.data == 1){
                            alert("取消预约成功")
                        }else if(data.data == 2){
                            alert("你还没预约呢")
                        }else if(data.data == 3){
                            alert("约球还未开始")
                        } else if(data.data == 0){
                            alert("取消预约失败")
                        }
                    }
                    getList()
                }
            },
            error:function(){
                status = false;
                // return false;
            }
        });
    }
</script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<!-- //smooth scrolling -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>