<!DOCTYPE html>
<html lang="en">
<head>
    <title>会员注册</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- // custom-theme -->
    <!--css links-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.css" rel="stylesheet"><!--font-awesome-->
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
    <!--//css links-->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <style>
        .img-size{
            width: 28rem;
        }
        .title-w3{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            color: #0accff;
            font-size: 40px;
        }
        .input-pos{
            margin-left: 60px;
            margin-bottom: 50px;
            width: 350px;
        }
        .btn-pos{
            width: 80px;
            margin-left: 100px;
            margin-bottom: 30px;
        }
    </style>
    <!--//fonts-->
</head>
<body>
<div>
    <h5 class="title-w3">凌飞羽协欢迎你的加入!</h5>
    <div class="row">
            <form action="/user/prefect" method="post">
                <input type="hidden" name="account" id="account"/>
                <div class="col-md-6">
                    <div class="form-group input-pos">
                        <label for="name" class="label-material">姓名</label>
                        <input id="name" type="text" name="name" required
                               data-msg="请输入姓名" class="input-material">
                    </div>
                    <div class="form-group input-pos">
                        <label for="stuClass" class="label-material">班级</label>
                        <input id="stuClass" type="text" name="stuClass" required
                               data-msg="请输入班级" class="input-material">
                    </div>
                    <div class="form-group input-pos">
                        <label for="QQ" class="label-material">QQ&nbsp;&nbsp;&nbsp;</label>
                        <input id="QQ" type="number" name="qq" required
                               data-msg="请输入QQ" class="input-material">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-pos">
                        <label for="number" class="label-material">学号</label>
                        <input id="number" type="text" name="number" required
                               data-msg="请输入学号" class="input-material">
                    </div>
                    <div class="form-group input-pos">
                        <label for="email" class="label-material">邮箱</label>
                        <input id="email" type="text" name="email" required
                               data-msg="请输入邮箱" class="input-material">
                    </div>
                    <div class="form-group input-pos">
                        <label class="label-material">部门</label>
                        <input type="radio" name="depart" value="组织部" />组织部
                        <input type="radio" name="depart" value="宣传部" />宣传部
                        <input type="radio" name="depart" value="外联部" />外联部
                        <input type="radio" name="depart" value="预备队" />预备队
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-pos" value="提交">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!--//js -->
<script src="https://cdn.bootcss.com/smoothscroll/1.4.8/SmoothScroll.min.js"></script>
<!--Scrolling-top -->
<script type="text/javascript" src="../../static/js/move-top.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
<script type="text/javascript">
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var request = GetRequest();
    var account = request["account"]
    $('#account').attr("value",account)
</script>
<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>